body{
    background: #ffe6e6;
    font-family: Arial;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

.container{
    background: white;

    width: 450px;

    padding: 40px;

    border-radius: 15px;

    text-align: center;

    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

h1{
    color: #333;

    margin-bottom: 30px;
}

p{
    font-size: 20px;

    margin: 20px 0;

    color: #444;
}

strong{
    color: #6a82fb;
}

a{
    display: inline-block;

    margin-top: 20px;

    text-decoration: none;

    background: #6a82fb;

    color: white;

    padding: 12px 20px;

    border-radius: 8px;

    font-weight: bold;
}

a:hover{
    background: #5a72eb;
}